$red: #F44336
$white: #FFFFFF
$grayl: #F1F1F1
$gray: #666666
$black: #000000
*
    margin: 0px
    padding: 0px
body 
    font-family: Compass LT, Montserrat, Kulim Park, Oxygen, Open Sans, Sans-serif
    letter-spacing: 2px
    header
        nav
            background: $red
            top: 0px
            width: 100%
            overflow: hidden
            color: $white
            .menu
                list-style: none
                li
                    padding: 15px
                    display: block
                    float: left
                    a
                        text-decoration: none
                li:hover 
                    background: $white
                    color: $black
    section 
        padding: 50px
        h, p, button 
            margin: 30px
        h2, .one
            color: $black
        .two
            color: $gray
        img 
            padding: 20px
            margin: 20px
            width: 150px
    .home
        background: $red
        text-align: center
        color: $white 
        h1 
            letter-spacing: 6px
            font-size: 60px
        button
            background: $black
            color: $white
            border: none
            padding: 10px 16px
        h4, button 
            font-size: 18px
    .link1
        background: $white
        img 
            float: right
    .link2
        background: $grayl
        img 
            float: left
    .link3
        text-align: center
        background: $gray
        color: $white
    footer 
        background: $white
        align-content: center
        ul 
            overflow: hidden
            list-style: none
            li
                padding: 10px
                display: block
                float: left
                a
                    img
                        width: 40px