$red: #F44336
$white: #FFFFFF
$grayl: #F1F1F1
$gray: #666666
$black: #000000

*
    margin: 0px
    padding: 0px
    header
        nav
            background: $red
            top: 0px
            width: 100%
            overflow: hidden
            color: $white
            .menu
                list-style: none
                li
                    padding: 15px
                    display: block
                    float: left
                    a
                        text-decoration: none
                li:hover 
                    background: $white
                    color: $black