* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: Compass LT, Montserrat, Kulim Park, Oxygen, Open Sans, Sans-serif;
  letter-spacing: 2px;
  word-spacing: 5px; }
  body header {
    width: 100%; }
    body header nav, body header .menu_btn {
      background: #F44336; }
      body header nav .dropdown-content, body header .menu_btn .dropdown-content {
        list-style: none;
        overflow: hidden; }
        body header nav .dropdown-content li, body header .menu_btn .dropdown-content li {
          padding: 15px;
          display: block;
          float: left; }
          body header nav .dropdown-content li a, body header .menu_btn .dropdown-content li a {
            text-decoration: none;
            display: block;
            color: #FFFFFF; }
          body header nav .dropdown-content li a:hover, body header .menu_btn .dropdown-content li a:hover {
            color: #000000; }
        body header nav .dropdown-content li:hover, body header .menu_btn .dropdown-content li:hover {
          background: #FFFFFF; }
    body header .menu_btn {
      display: none; }
      body header .menu_btn button {
        float: right;
        background: #F44336;
        border: 0px; }
        body header .menu_btn button img {
          width: 40px;
          padding: 15px; }
  body section {
    padding: 60px; }
    body section h, body section p, body section button {
      margin: 30px; }
    body section h2, body section .one {
      color: #000000;
      font-weight: bold; }
    body section .two {
      color: #666666; }
    body section img {
      padding: 20px;
      margin: 20px;
      width: 150px; }
    body section p {
      font-size: 15px; }
  body #link1 {
    background: #F44336;
    text-align: center;
    color: #FFFFFF; }
    body #link1 h1 {
      letter-spacing: 6px;
      font-size: 60px; }
    body #link1 button {
      background: #000000;
      color: #FFFFFF;
      border: none;
      padding: 10px 16px; }
    body #link1 h4, body #link1 button {
      font-size: 18px; }
  body #link2 {
    background: #FFFFFF;
    line-height: 20px; }
    body #link2 img {
      float: right; }
  body #link3 {
    background: #F1F1F1;
    line-height: 20px; }
    body #link3 img {
      float: left; }
  body #link4 {
    text-align: center;
    background: #666666;
    color: #FFFFFF; }
  body footer {
    background: #FFFFFF; }
    body footer ul {
      overflow: hidden;
      list-style: none; }
      body footer ul li {
        padding: 10px;
        display: block;
        float: left; }
        body footer ul li a img {
          width: 40px; }

@media only screen and (max-width: 768px) {
  body header .menu_btn {
    cursor: pointer;
    display: block; }
    body header .menu_btn img {
      width: 20px; }
  body header nav {
    display: none; }
    body header nav ul {
      position: relative;
      display: inline-block;
      flex-direction: column; }
      body header nav ul li {
        display: none;
        position: absolute;
        overflow: auto;
        float: none; }
        body header nav ul li a {
          color: #FFFFFF;
          padding: 12px 16px;
          text-decoration: none;
          display: block; }
  body header .show {
    display: block; }

  /*body
   * header
   *     .menu_btn
   *         display: block
   *     nav
   *         display: none
   *         ul 
   *             flex-direction: column
   *             li
   *                 float: none
   *                 border-bottom: 1px solid $white
   *             img 
   *                 float: right */ }

/*# sourceMappingURL=style.css.map */
